[bumpversion]
current_version = 3.5.post2
commit = False
tag = False
tag_name = ja-JP@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ja_JP/__init__.py]

[hash]
value = 4673a1572db501c54c502f24628e362612dfb792c3d37a843b8535f673c75919

