[bumpversion]
current_version = 3.4.post5
commit = False
tag = False
tag_name = ja-JP@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ja_JP/__init__.py]

[hash]
value = 828e08a3164420bea98bca13ba780a5404a6070331900eb75b67a9d955cd927f

