[bumpversion]
current_version = 3.3.post2
commit = False
tag = False
tag_name = ja-JP@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ja_JP/__init__.py]

[hash]
value = eb888c6b32429120c818b639ab5732ebdf5bfc0a1fed2c61201688a83b27ca61

