[bumpversion]
current_version = 3.5.post2
commit = False
tag = False
tag_name = tr-TR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_tr_TR/__init__.py]

[hash]
value = b7577eb32b371052b8f5fdb332e3adf63af750dda4200d3f7c7a657222232c87

