[bumpversion]
current_version = 3.5.post0
commit = False
tag = False
tag_name = tr-TR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_tr_TR/__init__.py]

[hash]
value = 2043454866be5c64b42dce5e16236983e319faa36a0e106cc692c10f6cbaeab6

