[bumpversion]
current_version = 3.2.post7
commit = False
tag = False
tag_name = tr-TR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_tr_TR/__init__.py]

[hash]
value = b1c6e3d03524f25404233ed4c99d1d46d6640016ca1824242f1c3a6e5b25df6d

