include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_tr_TR *.json
recursive-include jupyterlab_language_pack_tr_TR *.mo
recursive-include jupyterlab_language_pack_tr_TR .gitkeep
