[bumpversion]
current_version = 3.1.post4
commit = False
tag = False
tag_name = vi-VN@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_vi_VN/__init__.py]

[hash]
value = 6f85de2075515bafdf4971145c9bad9fbf36e69925f6300672ddb600841ae50c

