[bumpversion]
current_version = 3.2.post1
commit = False
tag = False
tag_name = vi-VN@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_vi_VN/__init__.py]

[hash]
value = 72a840f5e14b9e8d3bceb6d9036ae4bbdc20305dc5f0f808d7b9a433186bc20b

