[bumpversion]
current_version = 0.1.post9
commit = False
tag = False
tag_name = vi-VN@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_vi_VN/__init__.py]

[hash]
value = 85ea03b0d627e3b679d67b401b14738c37192bb7d3129a081bf668e3cb868ca3

