[bumpversion]
current_version = 3.2.post6
commit = False
tag = False
tag_name = ro-RO@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ro_RO/__init__.py]

[hash]
value = 8950700fac45e549a6e2c91e433697350ee6204cbc82aaf4c474247648659ead

