[bumpversion]
current_version = 3.4.post0
commit = False
tag = False
tag_name = ro-RO@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ro_RO/__init__.py]

[hash]
value = dd0611ff7524515aa5752d3f030aac54838a315bc06fd65c05af559cad939bb7

