[bumpversion]
current_version = 3.4.post3
commit = False
tag = False
tag_name = ro-RO@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ro_RO/__init__.py]

[hash]
value = bd0fd8d3fd11801d8d02357b6067d3c1d82e54d01e9a71e0ee64ae2c3141715a

