include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_ro_RO *.json
recursive-include jupyterlab_language_pack_ro_RO *.mo
recursive-include jupyterlab_language_pack_ro_RO .gitkeep
