[bumpversion]
current_version = 3.1.post2
commit = False
tag = False
tag_name = ko-KR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ko_KR/__init__.py]

[hash]
value = ecb32617c40bc8dc1511819923293bd8ddc93ca68e81778e66b332b35f8a2c9c

