[bumpversion]
current_version = 0.1.post9
commit = False
tag = False
tag_name = ko-KR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ko_KR/__init__.py]

[hash]
value = 8ec607c98304d470f8545d3a0e55bb9d4237437ca35082650d688df8d4e8ff62

