[bumpversion]
current_version = 3.1.post4
commit = False
tag = False
tag_name = ko-KR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ko_KR/__init__.py]

[hash]
value = afab27570b81c9f2e16f8c58496bb7b010663b6ef908e93eeeb12059e9ee7376
