[bumpversion]
current_version = 3.1.post2
commit = False
tag = False
tag_name = pl-PL@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_pl_PL/__init__.py]

[hash]
value = 2205cc8fa0cf00cd2485eedef519441b0fba297be62d6e68f0784600c7edbc10

