[bumpversion]
current_version = 3.1.post5
commit = False
tag = False
tag_name = pl-PL@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_pl_PL/__init__.py]

[hash]
value = 405232eb86108e92fd462b9cc50b1dea4c369624712a32cb32fa34c3548c65ca

