[bumpversion]
current_version = 3.3.post2
commit = False
tag = False
tag_name = pl-PL@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_pl_PL/__init__.py]

[hash]
value = 19be441d8f54416a46cca8f627c089adeb0790fa971f7290f4fa0cd4e83d0a08

