include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_pl_PL *.json
recursive-include jupyterlab_language_pack_pl_PL *.mo
recursive-include jupyterlab_language_pack_pl_PL .gitkeep
