[bumpversion]
current_version = 3.3.post3
commit = False
tag = False
tag_name = cs-CZ@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_cs_CZ/__init__.py]

[hash]
value = 308b8c6b01a4e3fff0f249fd497c244f7d3124b24bb21278cfba0dd332e1d905

