[bumpversion]
current_version = 3.2.post0
commit = False
tag = False
tag_name = cs-CZ@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_cs_CZ/__init__.py]

[hash]
value = 80f7af927c209cb5d38441d86d9aba5b599b5ab8465e39a91d4f1f6e9883c04d

