[bumpversion]
current_version = 3.3.post0
commit = False
tag = False
tag_name = cs-CZ@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_cs_CZ/__init__.py]

[hash]
value = d071ccf1a85d04f2e89aa509925dd91717342647d8520a2155d061a9784159c3

