[bumpversion]
current_version = 3.4.post4
commit = False
tag = False
tag_name = ar-SA@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ar_SA/__init__.py]

[hash]
value = 3d0481e0d1f91e51b389bd35d64d9b2cd13d439c9d0d77f0b4c767c28c3ec57f

