[bumpversion]
current_version = 3.2.post4
commit = False
tag = False
tag_name = ar-SA@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ar_SA/__init__.py]

[hash]
value = 3d7a1328e871c493b6fe8db8f492bdaa0db088c31a2622a830d0f563cfe540a5

