[bumpversion]
current_version = 3.5.post2
commit = False
tag = False
tag_name = ar-SA@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ar_SA/__init__.py]

[hash]
value = fa758b42351daaabf5d20c689a051014091bcf66efe2ce05c2c3fa00bf5afd99

