[bumpversion]
current_version = 3.2.post8
commit = False
tag = False
tag_name = zh-CN@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_zh_CN/__init__.py]

[hash]
value = 3fd006f26504e76815164c25c30c717ff60d2b1d40934f77331e82f4c7e5d057

