[bumpversion]
current_version = 3.4.post0
commit = False
tag = False
tag_name = zh-CN@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_zh_CN/__init__.py]

[hash]
value = 0320400c45fc1ffeac771b66009977228e6d8063896a7a580c1ce7bc00dbfc2e

