[bumpversion]
current_version = 3.3.post1
commit = False
tag = False
tag_name = zh-CN@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_zh_CN/__init__.py]

[hash]
value = b5fdf78a051527b03d4b4793f37212e7bdd69a5c3d432ce3bb9b71c85e321414

