include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_zh_CN *.json
recursive-include jupyterlab_language_pack_zh_CN *.mo
recursive-include jupyterlab_language_pack_zh_CN .gitkeep
