[bumpversion]
current_version = 3.4.post2
commit = False
tag = False
tag_name = it-IT@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_it_IT/__init__.py]

[hash]
value = 7287324901e21cf98d4ad653839b07bfc52eb8d7ec792eff1a84fa212f1f1017

