[bumpversion]
current_version = 0.0.2.dev0
commit = False
tag = False
tag_name = it-IT@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.(?P<release>(dev|prod))(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}.{release}{build}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = prod
first_value = dev
values = 
	dev
	prod

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_it_IT/__init__.py]

[hash]
value = 04353f04c564b2f3808083c57792498b0302a858d0c101c72bc807caadd31caf
