[bumpversion]
current_version = 3.3.post0
commit = False
tag = False
tag_name = it-IT@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_it_IT/__init__.py]

[hash]
value = e1e00377222432d34e2681b0a100d35eb7a3679bb40c1b6668d630889ac531f8

