include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_it_IT *.json
recursive-include jupyterlab_language_pack_it_IT *.mo
recursive-include jupyterlab_language_pack_it_IT .gitkeep
