[bumpversion]
current_version = 3.1.post0
commit = False
tag = False
tag_name = he-IL@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_he_IL/__init__.py]

[hash]
value = 3238d2116e78b29bc9500f10364aec65caa8e7a7c3fd7abdd5be0e46444f9f76

