[bumpversion]
current_version = 3.4.post6
commit = False
tag = False
tag_name = he-IL@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_he_IL/__init__.py]

[hash]
value = d8b44b5c226cabde83bd4991652a71593c1f7c3cb848de7fba72009fd778f555

