[bumpversion]
current_version = 3.1.post2
commit = False
tag = False
tag_name = he-IL@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_he_IL/__init__.py]

[hash]
value = f87419c83315c78cb9923b3985dbfd3d3c9aa48c26d2bb883f52550b41af805f

