include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_he_IL *.json
recursive-include jupyterlab_language_pack_he_IL *.mo
recursive-include jupyterlab_language_pack_he_IL .gitkeep
