[bumpversion]
current_version = 3.4.post4
commit = False
tag = False
tag_name = id-ID@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_id_ID/__init__.py]

[hash]
value = 476d1e86f787938ccbbe76ecebc277800da5f183eb4bfc42c9bedb5c1ce4aa29

