[bumpversion]
current_version = 3.3.post4
commit = False
tag = False
tag_name = id-ID@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_id_ID/__init__.py]

[hash]
value = a5c05194b49364f05bf2655eff07efb69e49f1f65921d9e444a4d2461aa88eeb

