[bumpversion]
current_version = 3.1.post4
commit = False
tag = False
tag_name = id-ID@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_id_ID/__init__.py]

[hash]
value = 4dc3337ec229516db0b13701d60af20480ae3c789b5a038e01037f3b77cfbda1
