include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_id_ID *.json
recursive-include jupyterlab_language_pack_id_ID *.mo
recursive-include jupyterlab_language_pack_id_ID .gitkeep
