[bumpversion]
current_version = 3.2.post8
commit = False
tag = False
tag_name = lt-LT@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_lt_LT/__init__.py]

[hash]
value = c8557e504aa4a31414a4155eb67f7b59a7732c660e8ea42b74dd75ac9545cb6e

