[bumpversion]
current_version = 3.2.post2
commit = False
tag = False
tag_name = lt-LT@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_lt_LT/__init__.py]

[hash]
value = 005030a83760ebb8fefa8e212a8c675797b1a48de821760ef3171c2c3b55b661

