[bumpversion]
current_version = 3.5.post2
commit = False
tag = False
tag_name = lt-LT@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_lt_LT/__init__.py]

[hash]
value = 4d6875088990ff56f07b9f62df45d7148c431040c470e63e5356a1ece060e8f8

