[bumpversion]
current_version = 3.2.post2
commit = False
tag = False
tag_name = es-ES@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_es_ES/__init__.py]

[hash]
value = 6a6b9ab0a6584b59f9b2daf6578034dd0d8c9c866ae7b99ee5a7df1d5127b16e

