[bumpversion]
current_version = 3.5.post2
commit = False
tag = False
tag_name = es-ES@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_es_ES/__init__.py]

[hash]
value = ab79bd1b9b30d0c955e760b759eb9da458be75bb7b9430ebd8adb2f676e5fdf8

