[bumpversion]
current_version = 3.2.post3
commit = False
tag = False
tag_name = es-ES@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_es_ES/__init__.py]

[hash]
value = d5d1c4cc278ae7a787425388bdf2ac598a9b8bfb7ab6c30e6ff359dff46a0eb1

