include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_es_ES *.json
recursive-include jupyterlab_language_pack_es_ES *.mo
recursive-include jupyterlab_language_pack_es_ES .gitkeep
