[bumpversion]
current_version = 3.2.post9
commit = False
tag = False
tag_name = fr-FR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_fr_FR/__init__.py]

[hash]
value = f4a8e8898fa4ff2b104cbef4eb2537799658b4444a85245d5ee3b90ccf29aaac

