[bumpversion]
current_version = 3.3.post1
commit = False
tag = False
tag_name = fr-FR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_fr_FR/__init__.py]

[hash]
value = a44050feb18c6e91c6315c0923880a43f603b5edce135334807aaa3d1b8a83b5

