[bumpversion]
current_version = 3.5.post0
commit = False
tag = False
tag_name = fr-FR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_fr_FR/__init__.py]

[hash]
value = ad6986a92b74ffa07feea19fb7afba5cedaf041756436fc52b1b9c516818f1e7

