include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_fr_FR *.json
recursive-include jupyterlab_language_pack_fr_FR *.mo
recursive-include jupyterlab_language_pack_fr_FR .gitkeep
