[bumpversion]
current_version = 3.2.post6
commit = False
tag = False
tag_name = ca-ES@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ca_ES/__init__.py]

[hash]
value = a2d311765b5ec3ab4de8ab66c395c76f8351847f9f572cdca407312c29c1158f

