[bumpversion]
current_version = 3.2.post8
commit = False
tag = False
tag_name = ca-ES@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ca_ES/__init__.py]

[hash]
value = 5a33b76d5577622bff9b88c9dfe2f944734f1c429134b84161cb55cd85710a1c

