[bumpversion]
current_version = 3.4.post1
commit = False
tag = False
tag_name = ca-ES@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ca_ES/__init__.py]

[hash]
value = fc60622283638aec137b5a2f46b07531a9ee3fbaa530dd46078dbfbaab783897

