[bumpversion]
current_version = 3.3.post3
commit = False
tag = False
tag_name = nl-NL@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_nl_NL/__init__.py]

[hash]
value = 5884ecb57e40d7d6170e053c568b7dbd5671b68495a889c52260b1f8a4bd8fa8

