[bumpversion]
current_version = 3.2.post7
commit = False
tag = False
tag_name = nl-NL@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_nl_NL/__init__.py]

[hash]
value = 06b28df4763a81f9866011a358f5ce2389c7a834db69e887e04e6e7c68f2c21b

