[bumpversion]
current_version = 3.4.post4
commit = False
tag = False
tag_name = nl-NL@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_nl_NL/__init__.py]

[hash]
value = 675779ae3d6ee302be71f5a9f3ce0c14f7c0a790e781e91017cd7900d6667b29

