include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_nl_NL *.json
recursive-include jupyterlab_language_pack_nl_NL *.mo
recursive-include jupyterlab_language_pack_nl_NL .gitkeep
