[bumpversion]
current_version = 3.1.post4
commit = False
tag = False
tag_name = hy-AM@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_hy_AM/__init__.py]

[hash]
value = 6801af490ca5de6ed037f5c575a4a9eb614535b747c1a6dbf3ebd4e91bbc5361
