[bumpversion]
current_version = 3.2.post8
commit = False
tag = False
tag_name = hy-AM@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_hy_AM/__init__.py]

[hash]
value = 778f5c1d7f1f6a27c1c1eaf6b3b25816642c3204805b426d9e3ffe1dfe2a8cf2

