[bumpversion]
current_version = 3.2.post2
commit = False
tag = False
tag_name = hy-AM@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_hy_AM/__init__.py]

[hash]
value = 5c405c270fc3a05805a019aa9e6bfd12abd76d6c10cfb20bc056cad9aac3f461

