include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_hy_AM *.json
recursive-include jupyterlab_language_pack_hy_AM *.mo
recursive-include jupyterlab_language_pack_hy_AM .gitkeep
