[bumpversion]
current_version = 3.2.post3
commit = False
tag = False
tag_name = si-LK@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_si_LK/__init__.py]

[hash]
value = bf0b9e0fcf837ef53231c9fe652025d640445287b237d4ddad1099f6d963b03a

