[bumpversion]
current_version = 3.4.post5
commit = False
tag = False
tag_name = si-LK@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_si_LK/__init__.py]

[hash]
value = 64537d5b533e437c53bd3da8ae70f29b65c0d2fa8a2bf8432a6bfae59599f598

