[bumpversion]
current_version = 3.3.post3
commit = False
tag = False
tag_name = si-LK@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_si_LK/__init__.py]

[hash]
value = aa9ed0d6fd521b908bd025f2abc43bad1402ece12d21eb6eb716c72dd37a706d

