include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_si_LK *.json
recursive-include jupyterlab_language_pack_si_LK *.mo
recursive-include jupyterlab_language_pack_ar_SA .gitkeep
