[bumpversion]
current_version = 3.3.post1
commit = False
tag = False
tag_name = no-NO@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_no_NO/__init__.py]

[hash]
value = 01b34c0d4eb2c6d357348004dc078ac5e921118689d7435fe8620982c3e065cc

