[bumpversion]
current_version = 0.1.post8
commit = False
tag = False
tag_name = no-NO@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_no_NO/__init__.py]

[hash]
value = 4a6eea3d131584254545364c7c934d721a51a5424c0bd54260d9213736b7757f
