[bumpversion]
current_version = 3.1.post4
commit = False
tag = False
tag_name = no-NO@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_no_NO/__init__.py]

[hash]
value = 40220fdff6c38a3cb040e833ecfeee5f0e0586e2ad342091988d7cc2ee04a9d4
