[bumpversion]
current_version = 0.1.post9
commit = False
tag = False
tag_name = ru-RU@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ru_RU/__init__.py]

[hash]
value = 1dc6d515a1e6d4578e74f709902b6d2fbba4a58df5117540087bf3abdc37e780

