[bumpversion]
current_version = 3.4.post2
commit = False
tag = False
tag_name = ru-RU@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ru_RU/__init__.py]

[hash]
value = 8be1f96152c73c6a842a922c30d0d9ba9a655e5d36638e0f1eba3c559dcce62e

