[bumpversion]
current_version = 0.0.2.dev0
commit = False
tag = False
tag_name = ru-RU@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.(?P<release>(dev|prod))(?P<build>\d+))?
serialize = 
	{major}.{minor}.{patch}.{release}{build}
	{major}.{minor}.{patch}

[bumpversion:part:release]
optional_value = prod
first_value = dev
values = 
	dev
	prod

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_ru_RU/__init__.py]

[hash]
value = 23471f13b91973546080f94c4ce6e0c3dbbf76b53391edfefd49ca6766c56a52
