include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_ru_RU *.json
recursive-include jupyterlab_language_pack_ru_RU *.mo
recursive-include jupyterlab_language_pack_ru_RU .gitkeep
