[bumpversion]
current_version = 3.2.post4
commit = False
tag = False
tag_name = uk-UA@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_uk_UA/__init__.py]

[hash]
value = 70e953b5ef3ed5facb49f2506310e21d4c276601ed31f0b261569268c6acae34

