[bumpversion]
current_version = 0.1.post8
commit = False
tag = False
tag_name = uk-UA@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_uk_UA/__init__.py]

[hash]
value = 115a14b6a9b5fa7bf7122210cdaedfbf1e3cb6fcfb554bd9942bac68999d3dea
