[bumpversion]
current_version = 3.4.post2
commit = False
tag = False
tag_name = uk-UA@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_uk_UA/__init__.py]

[hash]
value = 33d8081460ee4b03a0a79512363b8caf8fe1599beb7be4f79305efc29115662a

