[bumpversion]
current_version = 3.2.post1
commit = False
tag = False
tag_name = zh-TW@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_zh_TW/__init__.py]

[hash]
value = 9c6e457175c34b128524bc8cf56aeb2b1a90229da1ddef372768b4260a5cbe19

