[bumpversion]
current_version = 3.2.post2
commit = False
tag = False
tag_name = zh-TW@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_zh_TW/__init__.py]

[hash]
value = 27e80721b003a8a489409709e2ba35857657a3d2a71d4c86e8b12f25fab9964e

