[bumpversion]
current_version = 3.2.post9
commit = False
tag = False
tag_name = zh-TW@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_zh_TW/__init__.py]

[hash]
value = 6e01ebdfe7e7702f8bb74bfd1b6c6f6d958fd3a047b674b9b501eeb688d290bd

