[bumpversion]
current_version = 3.4.post3
commit = False
tag = False
tag_name = da-DK@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_da_DK/__init__.py]

[hash]
value = ce01d49a279ca2f5da5b428197071396a0a824ad57a5170103c15de54506992f

