[bumpversion]
current_version = 3.2.post0
commit = False
tag = False
tag_name = da-DK@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_da_DK/__init__.py]

[hash]
value = fa81d6bfa5720271d593d5c500c74cc024dc28c67b61736e7b4470525fe05845

