[bumpversion]
current_version = 3.4.post6
commit = False
tag = False
tag_name = da-DK@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_da_DK/__init__.py]

[hash]
value = 14e8c04e1da0d9965c64a8016067b7849fa1bdd97a321606744d304fd460366b

