include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_da_DK *.json
recursive-include jupyterlab_language_pack_da_DK *.mo
recursive-include jupyterlab_language_pack_da_DK .gitkeep
