[bumpversion]
current_version = 3.2.post7
commit = False
tag = False
tag_name = el-GR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_el_GR/__init__.py]

[hash]
value = 1120023de3170bec872ee0976c49b03cf317e9389fa3fd4b83db0b139e28d180

