[bumpversion]
current_version = 3.4.post2
commit = False
tag = False
tag_name = el-GR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_el_GR/__init__.py]

[hash]
value = 7990061e2f1c79519f1a3e57db9c55000cc41f4353aa512fd2ef197149b8c53d

