[bumpversion]
current_version = 3.1.post5
commit = False
tag = False
tag_name = el-GR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_el_GR/__init__.py]

[hash]
value = b599f02cc346ce314728877770ecb7f62e31ef29428f1fb49e9934872eb8178c

