include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_el_GR *.json
recursive-include jupyterlab_language_pack_el_GR *.mo
recursive-include jupyterlab_language_pack_el_GR .gitkeep
