[bumpversion]
current_version = 0.1.post8
commit = False
tag = False
tag_name = fi-FI@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_fi_FI/__init__.py]

[hash]
value = f7cf5661a4835db77ef509bdffdece43ea048da3cb20d89f694c78027d259c33
