[bumpversion]
current_version = 3.1.post4
commit = False
tag = False
tag_name = fi-FI@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_fi_FI/__init__.py]

[hash]
value = b16934a44909b748d14554014c73bed2254c7dee22bb618d95e79c32baa08d81
