[bumpversion]
current_version = 3.3.post4
commit = False
tag = False
tag_name = fi-FI@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_fi_FI/__init__.py]

[hash]
value = a6edc01159b9440cca5700b3c2566f777e97f444ff9c1b06b1055dad551840ba

