[bumpversion]
current_version = 3.3.post3
commit = False
tag = False
tag_name = pt-BR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_pt_BR/__init__.py]

[hash]
value = 88bcc6edb8719baa341b7a2ceb223c3c0ab8402afb432037c03e751c465f0539

