[bumpversion]
current_version = 3.2.post3
commit = False
tag = False
tag_name = pt-BR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_pt_BR/__init__.py]

[hash]
value = c33dbd3b3b92b567444790f1e860fddddfa39bac7f91264397f3a90149d87ec6

