[bumpversion]
current_version = 3.3.post1
commit = False
tag = False
tag_name = pt-BR@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_pt_BR/__init__.py]

[hash]
value = 06fa8e8467936a28f1e8b462a7bfe73c4b4a5316cbd7d15b76dd3c44a104364c

