[bumpversion]
current_version = 0.1.post9
commit = False
tag = False
tag_name = de-DE@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_de_DE/__init__.py]

[hash]
value = ed8fd166eab89c5b887c8d8f2fe113ab9bb786dd9c8cd499ac5473ae28dc4993
