[bumpversion]
current_version = 3.2.post3
commit = False
tag = False
tag_name = de-DE@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_de_DE/__init__.py]

[hash]
value = 7e0c20f5b08f8484b3f40317fb135ce587b6711676404160c12b5c616eeba1eb

