[bumpversion]
current_version = 3.3.post4
commit = False
tag = False
tag_name = de-DE@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_de_DE/__init__.py]

[hash]
value = 8aa2e18e3c5c170bb845ead839df742b6a62d606e5a61949818ba2d52cc0334f

