include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_de_DE *.json
recursive-include jupyterlab_language_pack_de_DE *.mo
recursive-include jupyterlab_language_pack_de_DE .gitkeep
