name: Check language packs version

on:
  pull_request:
    paths:
      - language-packs/**/.bumpversion.cfg
      - language-packs/**/__init__.py

jobs:
  check_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.10'
      - name: Check language packs version homogeneity
        run: |
          python -m pip install bump2version
          python scripts/04_check_version.py
