name: Check for new tags on repositories

on:
  schedule:
    - cron: 42 2 * * *
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  prepare_release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          python -m pip install -r requirements/release.txt
      - name: Check for new releases
        run: |
          python scripts/01_check_releases.py
      - name: Create a PR optionally
        shell: bash
        env:
          GITHUB_USER: ${{ secrets.GITHUB_USER }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -eux
          if [[ ! -z "$(git status --porcelain repository-map.yml)" ]]; then
            export SHA=$(git rev-parse --short HEAD)
            export BRANCH_NAME=new-release-${SHA}
            git checkout -b "${BRANCH_NAME}"

            git config user.name "JupyterLab Language Packs Bot"
            git config user.email 'jupyterlab-bot@users.noreply.github.com'
            
            git add repository-map.yml
            git commit -m "New releases"
            
            git push --set-upstream origin "${BRANCH_NAME}"            
            hub pull-request -m "New releases available at ${SHA}"
          fi
