[bumpversion]
current_version = 3.2.post4
commit = False
tag = False
tag_name = et-EE@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_et_EE/__init__.py]

[hash]
value = f4e142eb774e26415a815b43a89d73e7a95ba4a8c73d2b26bd11c61df5f34113

