[bumpversion]
current_version = 0.1.post8
commit = False
tag = False
tag_name = et-EE@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_et_EE/__init__.py]

[hash]
value = 9ce793a15b1c75a18ae0d513d0ef69c18a703dbee4b574aca73615806d7cfc34
