[bumpversion]
current_version = 3.1.post0
commit = False
tag = False
tag_name = et-EE@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_et_EE/__init__.py]

[hash]
value = c5f070193dbb29811faa06226bba961286843898bfa606aa529f551100ea6971

