include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_et_EE *.json
recursive-include jupyterlab_language_pack_et_EE *.mo
recursive-include jupyterlab_language_pack_et_EE .gitkeep
