[bumpversion]
current_version = 3.2.post8
commit = False
tag = False
tag_name = hu-HU@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_hu_HU/__init__.py]

[hash]
value = 9a0f27652151495d171f0d02d75347b709bff249e6fdfca4657b2f1819e24f6d

