[bumpversion]
current_version = 3.3.post3
commit = False
tag = False
tag_name = hu-HU@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_hu_HU/__init__.py]

[hash]
value = ee9539ee3b2f09fb4eae4f6e7dd47b547b53721f7080e7861b29041ac1e0ac96

