[bumpversion]
current_version = 3.1.post1
commit = False
tag = False
tag_name = hu-HU@v{new_version}
parse = (?P<major>\d+)\.(?P<minor>\d+)\.post(?P<build>\d+)
serialize = 
	{major}.{minor}.post{build}

[bumpversion:part:build]

[bumpversion:file:jupyterlab_language_pack_hu_HU/__init__.py]

[hash]
value = 25c9c561c653461956d6dc94905798393ca6e10ad10085f2c0b3e86d1333875c

