include README.md
include CONTRIBUTORS.md
include LICENSE.txt
include .bumpversion.cfg

recursive-include jupyterlab_language_pack_hu_HU *.json
recursive-include jupyterlab_language_pack_hu_HU *.mo
recursive-include jupyterlab_language_pack_hu_HU .gitkeep
